const:
  APP_ENV: "dev"
  APP_URL: "{{ shop_protocol }}://{{ shop_host }}"
  DB_HOST: "localhost"
  DB_PORT: "3306"
  DB_NAME: "shopware"
  DB_USER: "app"
  DB_PASSWORD: "app"

environments:
  administration:
    dynamic:
      HOST: echo "{{ shop_host }}"
